*{
  border: 0;
  margin: 0;
  box-sizing: border-box;
}   

:root{

  /*Neutral*/
  --Neutral0: hsl(0, 0%, 100%);
  --Neutral300: hsl(252, 6%, 83%);
  --Neutral500: hsl(245, 15%, 58%);
  --Neutral700: hsl(245, 19%, 35%);
  --Neutral900: hsl(248, 70%, 10%);


  /*Orange*/
  --Orange500: hsl(7, 88%, 67%);
  --Orange700: hsl(7, 71%, 60%);

  /*Gradient*/
  --Gradient-text-start: hsl(7, 86%, 67%);
  --Gradient-text-end: hsl(0, 0%, 100%);
}


body{
  
}

.images-container{
  background-image: url(/assets/images/background-desktop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100dvh;
  position: relative;
  aspect-ratio: 16 / 9;
  overflow-y: hidden;
  display: grid;
  place-content: center;
}

.images-container :nth-child(1){
  border: solid red;
  position: relative;
}

.images-container :nth-child(2){
  border: solid red;
  position: relative;
}

.images-container :nth-child(4){
  position: relative;
  right: -91%;
  top: -400%;
}

