*{
  border: 0;
  margin: 0;
  box-sizing: border-box;
}   

:root{

  /*Neutral*/
  --Neutral0: hsl(0, 0%, 100%);
  --Neutral300: hsl(252, 6%, 83%);
  --Neutral500: hsl(245, 15%, 58%);
  --Neutral700: hsl(245, 19%, 35%);
  --Neutral900: hsl(248, 70%, 10%);


  /*Orange*/
  --Orange500: hsl(7, 88%, 67%);
  --Orange700: hsl(7, 71%, 60%);

  /*Gradient*/
  --Gradient-text-start: hsl(7, 86%, 67%);
  --Gradient-text-end: hsl(0, 0%, 100%);
}


body{
 font-family:"Inconsolata",sans-serif;
}

.images-container{
  background-image: url(/assets/images/background-desktop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100dvh;
  position: absolute;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.images-container :nth-child(1){
  position: relative;
  top: -55rem;
  left: 5rem;
}

.images-container :nth-child(2){
  left: 72rem;
  top: -15rem;
  position: relative;
}

.images-container :nth-child(4){
  right: -103rem;
  top: -72rem;
  position: relative;
}

.images-container :nth-child(5){
  position: relative;
  top: -19.5rem;
  left: -29rem;
}

.ticket-main-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  z-index: 1;
}

.form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 0.8rem;
   
    .headers-container{
      img{
        width: 50%;
      }

      .first-paragraph{
        font-size: clamp(1rem, 5vw, 2.5rem);
        font-weight: 800;
        color: var(--Neutral0);
      }

      .second-paragraph{
        font-size: clamp(0.7rem, 2vw, 1.2rem);
        font-weight: 600;
        color: var(--Neutral300);
      }
    }

    form{
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      width: 80%;
      color: var(--Neutral0);
      font-size: clamp(0.7rem, 2.5vw, 1.2rem);
      
      label{
        text-align: left;
        font-weight: 100;
      }


      .drop-area{
        background-color: var(--Neutral900);
        border: dashed var(--Neutral700);
        border-radius: 0.5rem;
        padding: 0.6rem;

        img{
          background-color: var(--Neutral700);
          border-radius: 0.5rem;
          height: 50%;
          padding: 0.3rem;
        }

        input[type = 'file']{
          display: none;
        }

        p{
          font-size: 0.7rem;
          color: var(--Neutral300);
        }

      }

      p{
        color:  var(--Orange700);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.2rem;
        margin-top: 0.5rem;
        font-size: clamp(0.5rem, 1.5vw, 0.95rem);

        img{
          background-color: transparent;
          height: 60%;
          width: 3%;
        }
      }

      input{
        border: solid var(--Neutral0) 0.03rem;
        background-color: var(--Neutral900);
        padding: 0.5rem;
        border-radius: 0.4rem;
        width: 100%;
        height: 2.4rem;
        color: var(--Neutral0);
      }
      
      .email-error{
        border: solid var(--Orange700) 0.03rem;
      }

      .drop-area-error-message-image{
        margin-right: 1.5rem;
        display: none;
      }

      .drop-area-error-message-email{
        margin-right: 5rem;
        display: none;
      }

      button{
        background-color: var(--Orange500);
        padding: 0.7rem;
        border: transparent;
        border-radius: 0.5rem;
        font-weight: 700;
        margin-top: 0.5rem;
      }
    }    
}


.ticket-section{
 position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  padding: 5rem;
  gap: 4rem;
  background-image: url(/assets/images/background-desktop.png);
  
  

  .ticket-header-section{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  img[alt ='Coding-conf-logo']{
    width: 20%;
    margin-bottom: 2rem;
  }

  .profile-header{
    font-size: clamp(1rem, 5vw, 2.5rem);
    font-weight: 800;
    color: var(--Neutral0);
    width: 60%;

    span{
      background: linear-gradient(to right, var(--Gradient-text-start), var(--Gradient-text-end));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .ticket-header{
    font-size: clamp(0.7rem, 2vw, 1.2rem);
    font-weight: 600;
    color: var(--Neutral300);
    text-align: center;
    margin-top: 1rem;

    span{
      color: var(--Orange500);
    }
  }

  .ticket-avatar-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    

    img[alt="pattern-ticket"]{
      position: absolute;
      width: 28%;
      height: 25%; 
    }

    .ticket-container{
      position: relative;
      color: var(--Neutral0);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 150%;
      padding: 0.7rem;
      gap: 2.5rem;

      .conf-information{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 30%;
        

        img{
          width: 35%;
        }
        
        p{
          margin-top: -2rem;
          margin-left: 3rem;
        }
      
      }
        

      .profile-info{
        display: flex;
        padding: 1rem;
        gap: 0.6rem;
        width: 30%;

        img[alt='avatar-image']{
          width: 10%;
          border-radius: 0.5rem;
        }

        .avatar-info{

          p{
            font-size: 1.5rem;
          }

        }

        .github-user{
          display: flex;
          gap: 0.5rem;

          p{
            font-size: 1rem;
          }
        }
      } 
     
  }
}

}



@media (width <= 1024px){

 .ticket-section{
    

  .ticket-avatar-section{
  

    img[alt="pattern-ticket"]{
      width: 40%;
      height: 35%;
    }

    .ticket-container{
      padding: 1.5rem;
      display: flex;
      gap: 1rem;

      .conf-information{
        width: 50%;

        p{
          margin-left: 1.7rem;
        }
      }

      .profile-info{
        width: 50%;
      }


    }
  }
 }

}

@media (width <= 769px){


  .ticket-section {
      
    
    .ticket-avatar-section {
      width: 100%;
    }
    
    .ticket-avatar-section img[alt = "pattern-ticket" ]{
      width: 45%;
    }

    .ticket-avatar-section .ticket-container .conf-information{
      width: 60%;
      margin-top: 1rem;
    }

    .ticket-avatar-section .ticket-container .profile-info{
      width: 60%;

      img[alt = "avatar-image"]{
        width: 16%;
        height: 16%;
      }
    }
  }
  
  .ticket-section .ticket-avatar-section .ticket-container .profile-info p {
    font-size: 0.8rem !important;
  }
}


@media (width <= 426px){

  
  .images-container{
    background-image: url(/assets/images/background-mobile.png);
  }

  .ticket-section .ticket-avatar-section img[alt="pattern-ticket"]{
    width: 68%;
  }

  .ticket-section .ticket-avatar-section .ticket-container .conf-information {
    width: 120%;
    font-size: 0.8rem;
    margin-left: -2rem;
  }

    .ticket-section .ticket-avatar-section .ticket-container .profile-info{
      width: 120%;
      margin-left: -2rem;
      margin-bottom: 1rem;
    }

}
